<h1>HR Management</h1>

<%= link_to "About Us",about_path , style:"color:white;" ,class:"btn
btn-primary"%> <%= link_to "Contact Us", contact_path ,style:"color:white;", class: "btn btn-primary" %>
<%= link_to "Privacy Policy ", privacy_policy_path ,target: '_blank' ,
style:"color:white;" , class:"btn btn-primary"%>
