<h1>HR Management</h1>

<%= link_to "About Us",about_path , style:"color:green;" %> 
<%= link_to "Contact Us", contact_path ,style:"color:green;" %>
 <%= link_to "Privacy Policy ", privacy_policy_path ,target: '_blank' , style:"color:green;" %>
